* {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#Photo {
  list-style-type: none;
}
.body {
  background-color: rgb(101, 110, 110);

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
}
.comments {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
  background-size: cover;
  justify-content: flex-start;
}
#Tittle {
  list-style-type: none;
  font-size: 3.5vw;
}
#snippet {
  list-style-type: none;
  font-size: 1.9vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}
