* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #232c33;
  background-size: cover;
}
#Photo {
  list-style-type: none;
}
.body {
  background-color: #232c33;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
}
.comments {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: wrap;
  background-size: cover;
  justify-content: flex-start;
}
#Tittle {
  list-style-type: none;
  font-size: 3.5vw;
}
#snippet {
  list-style-type: none;
  font-size: 1.9vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #232c33;
    background-color: #ffffff;
  }
  a:hover {
    color: #232c33;
  }
  button {
    background-color: #f9f9f9;
  }
}
.loader-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.834)
    url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center
    no-repeat;
  z-index: 1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 0.7em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #232c33;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #232c33;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.container {
  display: flex;
  height: 100vh;
}

.image-container {
  flex: 1;
  background-color: #627782;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container {
  flex: 1;
  background-color: #232c33;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.text-container h1,
.text-container p {
  margin-top: 0;
}
a {
  color: #627782;
}

a:hover {
  color: #627782;
}
