* {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#Photo {
  list-style-type: none;
}
.body {
  background-color: rgb(101, 110, 110);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Tittle {
  list-style-type: none;
  font-size: 3.5vw;
}
#snippet {
  list-style-type: none;
  font-size: 1.9vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
